/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

html *{
	font-size: 14pt !important;
	fornt-family: verdana, sans-serif;
	transform-origin:0 0.9;
}
/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

body{
	background-image: url("images/background.jpg") !important ;
	background-size: cover !important;
	}
	
#Header{	
   	background-color:rgba(225, 225, 225, 0.8);
    color:white;
    width: 100%;
    background-repeat: no-repeat;
	margin-top:-8px;
}

#container{
	
	height: auto!important;
	margin-top: 10px;
	min-height: 80vh;
}

#Menu{

	width: 10vh;
	float: left;
	left: 0px;
	margin-top: 0px;
	padding-top: 0px;
	margin-right: 10px;
	height: 48vh;
	background-repeat: no-repeat;
	background-color: transparent;
}

#Navigator{
	
	line-height: 40px;
    background-color:rgba(225, 225, 225, 0.8);
    min-width: 35vw;
    float:left;
  	margin-right:10px;
  	height: 76vh;
  	overflow: auto;
}

#Details{
	
	background-color:rgba(225, 225, 225, 0.8);
	right: 0px;
	min-width: 45vw;
	min-height: 76vh;
    overflow: auto;
    margin: 0px auto;
}

#footer{
	
	min-height: 5vh;
	text-align: center;
	margin-top: 2vh;
	position: relative;
	align: center;
}

#footer .gwt-Button{
	background: transparent;
	border: none;
	color: transparent;
}

.impressum{
	background: transparent;
	border: none;
	color: black;
}

.credits{
	background: transparent;
	border: none;
	color: black;   
}

.gwt-TextBox {
	
	height: 25px;
	width: 300px;
	background: #white !important;

}

.gwt-TextBox-readonly{
	height: 25px;
	width: 150px;
	background:  #c0c0c0!important;
}

.gwt-DialogBox{
	left: 40vw !important;
	top: 10vh !important;
    visibility: visible;
    position: absolute;
    overflow: visible;
    clip: rect(auto, auto, auto, auto);
}

.gwt-TabPanel{
	height: auto;
}

.gwt-TabBar {
	background: #1f2833 !important;
	height: 8vh !important;
}

.gwt-TabBar .gwt-TabBarItem {
	background: #6f7277  !important;
	color: black !important;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	background:	#C2C4C2 !important;
	color: #1f2833 !important;
}

.MenuPanel {
	background-color: #1F2833;
	height: 48vh;
	width: 8vh;
}

.homeButtonPanel {
	float: right !important;
	
}

.topButtonsPanel {
	width: 18vh;
	float: right !important;
}

.topButtonsPanel2 {
	width: 12vh !important;
	float: right !important;
}

.Header {
	width: 100%;
	margin-bottom: 1px;
}

.createGroupButton{
	margin: 2vh;
	
	background: transparent;
	background-image: url("images/group.png");
	background-repeat:no-repeat;
	border: none;
	background-size: cover;
	height: 6vh;
	width: 6vh;
}
.createGroupButton:hover{
	background-color: grey;
	color: white;
	margin: 2vh;
	background-image: url("images/group.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 6vh;
	width: 6vh;
}
						
.createShoppinglistButton{
	position: relative;
	margin: 2vh;
	border: none;
	background: transparent;
	background-image: url("images/shoppinglist.png");
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
	height: 6vh;
	width: 6vh;
}

.createShoppinglistButton:hover{
	background-color: grey;
	position: relative;
	margin: 2vh;
	color: white;
	border:solid black 1px;
	background-image: url("images/shoppinglist.png");
	background-size: cover;
	height: 6vh;
	width: 6vh;
}

.createArticleButton{		
	position: relative;
	margin: 2vh;
	border: none;
	background: transparent;
	background-image: url("images/article.png");
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
	height: 6vh;
	width: 6vh;
}

.createArticleButton:hover{
	background-color: grey;
	position: relative;
	margin: 2vh;
	color: white;
	border:solid black 1px;
	background-image: url("images/article.png");
	background-size: cover;
	height: 6vh;
	width: 6vh;
}

.createStoreButton{	
	position: relative;
	margin: 2vh;
	border: none;
	background: transparent;
	background-image: url("images/store.png");
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
	height: 6vh;
	width: 6vh;
	
}

.createStoreButton:hover{	
	background-color: grey;
	position: relative;
	margin: 2vh;
	color: white;
	border:solid black 1px;
	background-image: url("images/store.png");
	background-size: cover;
	height: 6vh;
	width: 6vh;
}

.FavoriteItemFalse{
	
	outline:none !important;
	border: none;
	background: transparent;
	background-image: url("images/favButton.png");
	background-repeat:no-repeat;
	background-position: center center;
	background-size: cover;
	height: 6vh;
	width: 6vh;
	float: right;
	
}

.FavoriteItemFalse:hover{
	
	border:solid black 1px;
	cursor: pointer;
	background-color:#6f7277;
	background-image: url("images/favButton.png");
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 90%;
	height: 6vh;
	width: 6vh;
	
}

.FavoriteItemTrue{
	
	outline:none !important;
	border: none;
	background: transparent;
	background-image: url("images/favButtonClick.png");
	background-repeat:no-repeat;
	background-position: center center;
	background-size: cover;
	height: 6vh;
	width: 6vh;
	
}

.FavoriteItemTrue:hover{
	
	border:solid black 1px;
	cursor: pointer;
	background-color:#6f7277;
	background-image: url("images/favButtonClick.png");
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 90%;
	height: 6vh;
	width: 6vh;
	
}

.editButton{
	
	outline:none !important;
	border: none;
	background: transparent;
	background-image: url("images/editButton.png");
	background-repeat:no-repeat;
	background-position: center center;
	background-size: cover;
	height: 6vh;
	width: 6vh;
	float: right !important;
}

.editButton:hover{
	
	border:solid black 1px;
	cursor: pointer;
	background-color:#6f7277;
	background-image: url("images/editButton.png");
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 90%;
	height: 6vh;
	width: 6vh;
	float: right !important;
}


.deleteButton{
	border: none;
	background: transparent;
	background-image: url("images/deleteButton.png");
	background-repeat:no-repeat;
	background-position: center center;
	background-size: cover;
	height: 6vh;
	width: 6vh;
	float: right;
	
}

.deleteButton:hover{
	
	border:solid black 1px;
	cursor: pointer;
	background-color:#6f7277;
	background-image: url("images/deleteButton.png");
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 90%;
	height: 6vh;
	width: 6vh;
	float: right;
	
}

.selectGroupButton{
	background-color: #1F2833;
	border: solid black 1px;
	color: white !important;
}

.selectGroupButton:hover{
	border: solid white 2px;
	cursor: pointer;
	background-color:#1F2833;
	font-color: solid white;
	
}

.shoppinglistNameBox {
	font-weight: bold;
	font-size: 200% !important;
	margin: 10px;
}

.addListItemButton{
	background-color: #1F2833;
	border: solid black 1px;
	margin: 15px;
	background-image: url("images/addListItem.png");
	background-repeat:no-repeat;
	background-position: center center;
}

.addListItemButton:hover{
	border: solid white 2px;
	cursor: pointer;
	margin: 15px;
	background-color:#6f7277;
	background-image: url("images/addListItem.png");
	background-repeat:no-repeat;
	background-position: center center;
}

.editListNameButton{
	outline:none !important;
	border: none;
	background: transparent;
	background-image: url("images/editButton.png");
	background-repeat:no-repeat;
	background-position: center center;
}

.editListNameButton:hover{
	border:solid black 1px;
	cursor: pointer;
	background-color:#6f7277;
	background-image: url("images/editButton.png");
	background-repeat:no-repeat;
	background-position: center center;
}

.shareButton{
	border: none;
	background: transparent;
	background-image: url("images/shareButton.png");
	background-repeat:no-repeat;
	background-position: center center;
}

.shareButton:hover{
	border:solid black 1px;
	cursor: pointer;
	background-color: #6f7277;
	background-image: url("images/shareButton.png");
	background-repeat:no-repeat;
	background-position: center center;
}

.revokeButton{
	border: none;
	background: transparent;
	background-image: url("images/revokeButton.png");
	background-repeat:no-repeat;
	background-position: center center;
}

.revokeButton:hover{
	border:solid black 1px;
	cursor: pointer;
	background-color:#6f7277;
	background-image: url("images/revokeButton.png");
	background-repeat:no-repeat;
	background-position: center center;
}



.loginButton{
	margin: 50px;
	color:white;
	padding-left: 35px;
	border: none;
	font-size:170% !important;
	font-weigth: bolder;
	cursor: pointer;
	background: transparent;
	background-repeat:no-repeat;
	background-image: url("images/loginButton.png");
	
}

.loginLabel {
	margin-top: 150px;
	font-size: 24pt !important;
	font-weight: bold;
	color: white;
}


.editorButton {  	
	font-weigth: bolder;
    color: white;
    cursor: pointer;
	background-color: #1F2833 !important;
	border: none;
	height: 7vh;
	width: 15vw;
	font-size: 1em 3vw !important;
}


.editorButton:hover {
  
	font-weigth: bolder;
    color: white;
    cursor: pointer;
	background:#1F2833 !important;
	border:solid black 1px;
	height: 7vh;
	width: 15vw;
	
}
.reportGeneratorButton {
	
   	
	font-weigth: bolder;
    color: white;
    cursor: pointer;
    background: #1F2833;
    margin-right: 1px;
    border: none;
    height: 7vh;
	width: 15vw;
    
}

.reportGeneratorButton:hover{
	
  	
	font-weigth: bolder;
    color: white;
    cursor: pointer;
    background: #1F2833 !important;
    border:solid black 1px;
    margin-right: 1px;
    height: 7vh;
	width: 15vw;
}

.infoTitleLabel {
	color:white;
	margin:10px;
	font-weight: bold;
	font-size: 150% !important;
	margin-Bottom:7px;
	width: 100% !important;
	
}

.cancelButton{
	background-color: #666666;
	color: white;
	border: solid black 1px;
}

.cancelButton:hover{
	background-color: #6f7277;
	color: white;
	border: solid white 2px;
	cursor:pointer;
}

.confirmButton{
	background-color: #666666;
	color: white;
	border: solid black 1px;
}

.confirmButton:hover{
	background-color: #6f7277;
	color: white;
	border: solid white 2px;
	cursor:pointer;
}

.textLabel{
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 130%;
	line-height: 1; 
	text-align: center;
}

.additionalInfoGrid{
    margin-top: 30px;
   	padding-left: 5px;
    padding-right: 5px;
	    
}

.editFlexTable{
	 margin-top: 20px;
}

.regiterLabel{
	margin-top: 20px;
	margin-left: 20px;
}

.checkboxDisabled{
	color:#666666 !important;
	
}

.cancelSearchButton{
	border: solid black 1px;
	cursor: pointer;
 	background-color: #6f7277;
 	color: white;
 	vertical-align:middle;
}

.cancelSearchButton:hover{
	border: solid white 1px;
	cursor: pointer;
 	background-color: #6f7277;
 	color: white;
}

.addPersonButton{
	border: solid black 1px;
	cursor: pointer;
 	background-color: #6f7277;
 	color: white;
 	vertical-align:middle;
}
.addPersonButton:hover{
	border: solid white 1px;
	cursor: pointer;
 	background-color: #6f7277;
 	color: white;
}

.myItemsCheckBox {
	background-color: #1F2833;
	border: solid black 1px;
	margin: 15px;
	background-position: center center;
}

.slogan{
	font-weight: bold;
	color: #ffffff;
}

.addListItemPanel {
	
}

.refreshInfoLabel {
	text-align: center;
    font-size: 100%;
    color: white;
    background-color: black;
    -webkit-animation-name: refreshInfoLabelAnimation; 
    -webkit-animation-duration: 3s; 
    -webkit-animation-iteration-count: infinite;
    animation-name: refreshInfoLabelAnimation;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    margin-left:120px;
    
}

.errorLabel {
	text-align: center;
    font-size: 100%;
    margin-left:120px;
    color: white;
    background-color: black;
    -webkit-animation-name: refreshInfoLabelAnimation; 
    -webkit-animation-duration: 3s; 
    -webkit-animation-iteration-count: infinite;
    animation-name: refreshInfoLabelAnimation;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

.menuBar {
	background-color: #1F2833;
	height: 7vh !important;
	width: 15vw !important;
	margin-left: 1px !important;
	text-align: center !important;
	text-size: 5vh !important;
}

.formHeaderPanel {
	background-color: #1F2833 !important;
	width: 100%;
}

.gwt-MenuBar .gwt-MenuItemSeparator {
	width: 30vw !important;
	
}

.gwt-MenuBar .gwt-MenuItem {
}

.gwt-cellTableSelectedRow {
    background: red !important;
}

@-webkit-keyframes refreshInfoLabelAnimation {
    
    0%   {background-color: #1f2833;}
    25%  {background-color:  black;}
    50%  {background-color: #596b8b;}
    100% {background-color: black;}
}


@keyframes refreshInfoLabelAnimation {
   
    0%   {background-color: #1f2833;}
    25%  {background-color: black;}
    50%  {background-color: #596b8b;}
    100% {background-color: black;}
 
}


