/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */


html *{
	font-size: 14pt !important;
	fornt-family: verdana, sans-serif;
	
}

body{
	background: transparent;
	background-repeat:no-repeat;
	background-image: url("images/background.jpg") !important ;
}

td{
	width: auto !important;
}


#Header{	
	padding-left: 20px;
    background-color:rgba(225, 225, 225, 0.8);
    color:white;
    width: 99%;
    background-repeat: no-repeat;
	margin-top:-8px;
	margin-left:-10px;
}

#footer{
	text-align: center;
	margin-top:1vh;
}

#footer .gwt-Button{
	background: transparent;
	border: none;
	color: #666666;
}

#Selection{
	margin-top: 20px;
	background-color:rgba(225, 225, 225, 0.8);    
	color:black;
    width: 100%;  
}

#Result{
	height: 55vh;
	background-color:rgba(225, 225, 225, 0.8);    
	color:black;
    width: 100%;
    overflow: auto;
}

.formHeaderPanel{
	background-color: #1F2833 !important;
	
}

.headerPanel .gwt-Label {
	margin-left: 20px;

}

.infoTitleLabel {
	color:white;
	font-weight: bold;
	font-size: 250% !important;
}

.loginButton{
	margin: 50px;
	color:white;
	padding-left: 35px;
	border: none;
	font-size:170% !important;
	font-weigth: bolder;
	cursor: pointer;
	background: transparent;
	background-repeat:no-repeat;
	background-image: url("images/loginButton.png");
	
}

.loginLabel {
	margin-top: 150px;
	font-size: 24pt !important;
	font-weight: bold;
	color: white;
    overflow:auto;

}

.logoutButton{
	
	color:white;
	padding-left: 35px;
	border: none;
	font-size:170% !important;
	font-weigth: bolder;
	cursor: pointer;
	background: transparent;
	background-repeat:no-repeat;
	background-image: url("images/logoutButton.png");
}

.Header{

	height: 5vh !important;
	width: 100% !important;
	
}

.editorButton {

	font-weigth: bolder;
    color: white;
    cursor: pointer;
	background-color: #1F2833 !important;
	border: none;
	margin-right: 1px;
	height: 7vh;
	width: 15vw;
}

.editorButton:hover {

	font-weigth: bolder;
    color: white;
    cursor: pointer;
	background:#1F2833 !important;
	border:solid black 1px;
	height: 7vh;
	width: 15vw;
	
}
.reportGeneratorButton {
	
	font-weigth: bolder;
    color: white;
    cursor: pointer;
    background: #1F2833;
    border: none;
    height: 7vh;
    width: 15vw;
    
}

.reportGeneratorButton:hover{
	
	font-weigth: bolder;
    color: white;
    cursor: pointer;
    background: #1F2833 !important;
    border:solid black 1px;
    height: 7vh;
    width: 15vw;
}

.homeButtonPanel{
	
	margin-left: 10vw;
	width: 26vw;
}

.userPanel{
	margin-left: 30px;
	margin-right:30px;
}

.reportButton{
	background-color: #1F2833 !important;
	position: relative;
	right: 0px;
	font-size: 100%;
	margin: 0, auto;
	color: white;
	border:solid black 1px;
	
}

.printReportButton{
	
	border: solid #1F2833 1px;
	background: transparent;
	background-image: url("images/printReportButton.png");
	background-repeat:no-repeat;
	background-position: center center;
	
}

.printReportButton:hover{
	
	cursor:pointer;
	border: solid white 1px;
	background-image: url("images/printReportButton.png");
	background-repeat:no-repeat;
	background-position: center center;
	
}

.backButton{
	margin-left: 5px;
	background: transparent;
	border: none;
	background-image: url("images/backButton.png");
	background-repeat:no-repeat;
	background-position: center center;
}


.backButton:hover{
	background-color:#6f7277;
	cursor:pointer;
	border: solid black 1px;
	background-image: url("images/backButton.png");
	background-repeat:no-repeat;
	background-position: center center;
}
.slogan{
	
	font-weight: bold;
	font-style: italic;
	color: #666666;
}

.errorLabel {
	text-align: center;
    font-size: 100%;
    color: white;
    background-color: black;
    -webkit-animation-name: refreshErrorLabelAnimation; 
    -webkit-animation-duration: 4s; 
    -webkit-animation-iteration-count: infinite;
    animation-name: refreshErrorLabelAnimation;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}


.menuBar {
	background-color: #1F2833;
	height: 7vh !important;
	width: 15vw !important;
	margin-left: 2px !important;
	text-align: center !important;
	align: right !important;
	
}


.gwt-MenuBar .gwt-MenuItemSeparator {
	width: 30vw !important;
	
}

@-webkit-keyframes refreshErrorLabelAnimation {
    
    0%   {background-color: #1f2833;}
    25%  {background-color: black;}
    50%  {background-color: #596b8b;}
    100% {background-color: black;}
}


@keyframes refreshErrorLabelAnimation {
   
    0%   {background-color: #1f2833;}
    25%  {background-color: black;}
    50%  {background-color: #596b8b;}
    100% {background-color: black;}
 
}
